{{> nav/nav-block}}

<video autoplay muted loop id="myVideo">
  <source src="/assets/images/video.mp4" type="video/mp4">
</video>

<div class="ui masthead">
  <div id="homeContainer" class="ui raised very padded text container segment" class="ui grid container" align="center">
    <h1 class="lead" align="center">Welcome to <strong>Fashion Trader</strong></h1>
    <h3 align="center">A community of Fashion Traders</h3>
    <hr>
    <div>
      {{#if isloggedin}}
        <h3>You are logged in as {{user.firstName}}</h3>
        <br>
        <div class="ui three item menu">
          <a class="item" href="/shop"><i class="tags icon"></i>Shop Items</a>
          <a class="item" href="/item"><i class="plus icon"></i>Post Items</a>
          <a class="item" href="/profile"><i class="user icon"></i>Go To My Profile</a>
        </div>
      {{else}}
        <p align="center">You must log in to use this app.</p>
        <h5 id="login-err-msg"></h5>
        <a href="/register"><button class="ui huge teal button" type="submit">Get Started
        <i class="right arrow icon"></i></button></a>
    </div>
  </div>
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column" id="homeText">
          <h3>Fashion Trader</h3><p>is the web's newest way to buy and sell new or gently-worn clothes and accessories. Create an account, log in, shop for the latest trends, upload your items that you would like to sell so that others can buy them. <br><br>Hang out. Be a part of the new great fashion-focused community!</p>
        </div>
        <div class="column" id="homeText">
          <br>
          <h3>"No matter what you're looking for, you can find it on Fashion Trader!"</h3>
          <p>- Satisfied Fashion Trader Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui center aligned text container">
      <h3 class="ui header" id="homeText">We are quickly changing the fashion world.</h3>
      <p id="homeText">We are a community of individuals who weak like our competitors, we have found a way to master the art of fashion and content creation. We are massive, monolithic, and definitely worthy of your attention.</p>
    </div>
  </div>
</div>

{{> footer/footer-block}}
      {{/if}}
        
    </div>
  </div>
</div>

{{!-- <div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Lorem Ipsum</h3>
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
      </div>
      <div class="six wide right floated column">
        <h3 class="ui header">Lorem Ipsum</h3>
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a href="/about" class="ui huge teal button" type="submit">Check It Out</a>
      </div>
    </div>
  </div>
</div> --}}