{{> nav/nav-block}}

<div class="ui container">
  <div class="ui row">
    <div class="eight wide column">
      <div class="ui card">
        <div class="content">
          <h5 class="header">Item: </h5>
          <p>
            <strong>ID</strong>: {{item.id}}</p>
          <p>
          <p>
            <strong>Product Name</strong>: {{item.product}}</p>
          <p>
            <strong>Price:</strong> {{item.price}}</p>
            <a href="/example">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{> modal/login-block}}
