{{> nav/nav-block user=false register=true}}

<div class="ui masthead" id="register-container">
  <div class="ui raised very padded text container segment">
    <header class="ui header">
      <h1>Create Your Fashion Trader Account</h1>
      <h3 id="create-err-msg"></h3>
    </header>

    <h3 id="err-msg"></h3>

    <form class="ui form" id="create-form">
      <div class="field">
        <label for="inputFirst">First Name</label>
        <input type="text" id="inputFirst" placeholder="First Name">
      </div>
      <div class="field">
        <label for="inputLast">Last Name</label>
        <input type="text" id="inputLast" placeholder="Last Name">
      </div>
      <div class="field">
        <label for="inputEmail">Email</label>
        <input type="text" id="inputEmail" placeholder="Email">
      </div>
      <div class="field">
        <label for="inputPassword">Password</label>
        <input type="text" id="inputPassword" placeholder="Password">
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0">
          <label>I agree to the Terms and Conditions</label>
        </div>
      </div>
      <div>
        <h2 id="message"></h2>
      </div>
      <div class="ui teal button" type="submit" id="add-user">Submit</div>
    </form>
  </div>
</div>
