{{> nav/nav-block isloggedin=true}}

<div class="ui container" id="shop-container">

  <div class="ui three column grid">
  
    <div class="column" align="right">
      <div class="ui card">
        <div class="image">
          <img src="/images/avatar/large/daniel.jpg">
        </div>
        <div class="content">
          <a class="header">Coats</a>
        </div>
      </div>
    </div>

    <div class="column" align="center">
      <div class="ui card">
        <div class="image">
          <img src="/images/avatar/large/helen.jpg">
        </div>
        <div class="content">
          <a class="header">Pants</a>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/images/avatar/large/elliot.jpg">
        </div>
        <div class="content">
          <a class="header">Dresses</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui three column grid">
    <div class="column" align="right">
      <div class="ui card">
        <div class="image">
          <img src="/images/avatar/large/daniel.jpg">
        </div>
        <div class="content">
          <a class="header">Shirts</a>
        </div>
      </div>
    </div>

    <div class="column" align="center">
      <div class="ui card">
        <div class="image">
          <img src="/images/avatar/large/helen.jpg">
        </div>
        <div class="content">
          <a class="header">Shoes</a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/images/avatar/large/elliot.jpg">
        </div>
        <div class="content">
          <a class="header">Accessories</a>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="/assets/js/shop.js"></script>

{{> modal/login-block}}

