{{!-- Login Modal --}}
<div class="ui modal" id="user-info" tabindex="-1" role="dialog">
  <div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
      
      {{!-- Login Form --}}
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>Email</label>
            <div class="ui left icon input">
              <input type="text" id="user-email" name="email" placeholder="Email Address">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <input type="password" id="user-password" name="password">
              <i class="lock icon"></i>
            </div>
          </div>
          <button class="ui teal submit button" type="submit" id="login">Login</button>
        </div>
      </div>

      {{!-- Sign Up Button --}}
      <div class="middle aligned column">
        <a href="/register"><button class="ui huge button" type="submit"><i class="signup icon"></i>
          Sign Up</button>
        </a>
      </div>

    </div>
    <div class="ui vertical divider">
      Or
    </div>
  </div>
</div>