<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">
            Sitemap
          </a>
          <a href="#" class="item">
            Contact Us
          </a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">
            FAQ
          </a>
          <a href="#" class="item">
            How To Use
          </a>
        </div>
      </div>
      <div class="five wide column">
        <h4 class="ui inverted header">Fashion Trader</h4>
        <p>&COPY; 2019</p>
      </div>
      <div class="five wide column" align="right">
        <h4 class="ui inverted header"><i class="github icon"></i>Developers</h4>
        <a href="https://github.com/krishb09">Krishti Bhowmick</a>  |  
        {{!-- <i class="github icon"></i> --}}
        <a href="https://github.com/jeff-swanner">Jeff Swanner</a>
        {{!-- <i class="github icon"></i> --}}
        <br>
        <a href="https://github.com/jsnwhited">Jason Whited</a>  | 
        {{!-- <i class="github icon"></i> --}}
        <a href="https://github.com/fzachary">Frank Zachary</a>
        {{!-- <i class="github icon"></i> --}}
      </div>
    </div>
  </div>
</div>