#main-logo {
  font-family: 'Bangers', cursive;
  color: white;
  font-size: 51px;
  font-weight: normal;
}

#main-logo:hover {
  color: white;
  text-shadow: 2px 2px teal;
}

.container {
  height: 100%;
  border-radius: .25rem;
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

a {
  color: #00adb5;
}

a:hover {
  color: #009c95;
}

#navbar {
  border-radius: 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: red !important;
}

#go-home {
 width: auto;
 height: 65px;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

.list-group-item {
  line-height: 2.5;
}

#item-entry {
  margin-bottom: 20px;
}

img {
  width: 100px;
}