<div class="ui large menu top inverted" id="navbar">
  <div class="ui container">
    <a href="/" class="item">Home</a>
    <a href="/about" class="item">About</a>
     <a class="item" href="/shop">Shop</a>
    <div class="right menu">
      {{#if isloggedin}}
          <a class="item" href="/example">Example page</a>
          <a class="item" href="/profile">My Profile</a>
          <a class="item" href="/logout">Logout</a>
      {{else}}
        <div class="item">
          <a class="ui button" type="submit" href="#" id="login-modal">Login</a>
        </div>
        <div class="item">
          <a class="ui teal button" type="submit" href="/register" data-register={{register}}>Sign Up</a>
        </div>
      {{/if}}
    </div>
  </div>
</div>

{{> modal/login-block}}    
